.theme-button {
  width: 25px;
  height: 25px;
  padding: 0;

  border: 1px solid var(--border);
  border-radius: 50%;

  background: linear-gradient(
    to right,
    #eef2f5 50%,
    #0d0d0d 50%
  );

  cursor: pointer;

  transition:
    background 0.5s ease,
    transform 0.5s ease,
    border-color 0.5s ease;
}

.dark .theme-button {
  background: linear-gradient(
    to right,
    #eef2f5 50%,
    var(--primary) 50%
  );
}

.theme-button.nyx {
  transform: rotate(180deg);
}

.theme-button:hover {
  transform: scale(1.08);
}

.theme-button.nyx:hover {
  transform: rotate(180deg) scale(1.08);
}