* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
  color: var(--text);

  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
  color: var(--text);

  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}
